/**
 * Styles related to header.php
 */

/**
 * Site header
 */
.site-header {
  text-align: center;
}

.site-title {
  margin: 0;
  a {
    text-decoration: none;
    color: $text-dark;
    font-size: 4rem;
    font-weight: 400;
    transition: color .2s;
    transition: all .2s;
    @include bp(md) { font-size: 3.5rem; }
    @include bp(sm) { font-size: 3rem; }
    @include bp(xs) { font-size: 2.5rem; }

    span {
      font-weight: 100;
    }

    &:hover {
      letter-spacing: 1px;
    }

  }

}

.getting-married,
.wedding-date {
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 1px;
  color: lighten($text-dark, 20%)
}

.getting-married {
  margin: 3rem 0 0 0;
}

.wedding-date {
  margin: 0 0 3rem 0;
}

/**
 * Site navigation bar
 */
.site-nav {

  ul {
    padding: 0;
    margin: 0;
    @include clearfix;
    @include bp(md) {
      border-left: 1px solid $purple;
      border-bottom: 1px solid $purple;
    }
  }

  li {
    width: 16.66%;
    float: left;
    text-align: center;
    list-style: none;
    @include bp(md) { width: 33.33%; }
    @include bp(sm) { width: 50%; }

    a {
      display: block;
      padding: 0.8rem 0;
      text-decoration: none;
      color: $purple;
      font-size: .9rem;
      text-transform: uppercase;
      font-weight: 700;
      border: 1px solid $purple;
      border-left: 0;
      letter-spacing: 1px;
      transition: letter-spacing .2s;
      @include bp(md) { border-bottom: 0; }
    }

    &:first-child a {
      border-left: 1px solid $purple;
      @include bp(md) {
        border-left: 0;
      }
    }

    a:hover {
      letter-spacing: 2px;
    }

    &.current_page_item a,
    &.current-page-ancestor a {
      background-color: $purple;
      color: $text-white;
    }

  }

}
