/**
 * Post styles
 */
.intro p {
  text-align: justify;
}

.countdown {
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $purple;
}
